h1 {
    text-align: center;
    color: #ce2b2b;
}
nav a {
    padding: 15px 20px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: aqua;
    border-radius: 4px;
    margin-left: 20px;
}
nav a:visited, nav a:link {
    color: #3643b6;
}
nav a:hover {
    color: #fff;
    background-color: #3643b6;
}
nav a:active {
    color: #ce2b2b;
    background-color: #49ce0c;
}
